{{ 'menu-section.css' | asset_url | stylesheet_tag }}



<div class="menu-section">
   
    {% for block in section.blocks %}
        <div class="menu-section-inner">
        {% if block.settings.heading_text != blank %}
            <h2 class="menu-heading">{{ block.settings.heading_text }}</h2>
            <a href="{{ block.settings.link_one_url }}" class="menu-link">{{ block.settings.link_one }}</a>
            <a href="{{ block.settings.link_two_url }}" class="menu-link">{{ block.settings.link_two }}</a>
            <a href="{{ block.settings.link_three_url }}" class="menu-link">{{ block.settings.link_three }}</a>
            <a href="{{ block.settings.link_four_url }}" class="menu-link">{{ block.settings.link_four }}</a>
            <a href="{{ block.settings.link_five_url }}" class="menu-link">{{ block.settings.link_five }}</a>
        {% endif %}
    </div>
    {% endfor %}

</div>


{% schema %}
{
    "name": "Menu Section",
    "settings": [],
    "blocks": [
      {
        "type": "menu_heading",
        "name": "Menu Heading",
        "settings": [
          {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text"
         },
          {
          "type": "text",
          "id": "link_one",
          "label": "Link Text"
          },
          {
            "type": "url",
            "id": "link_one_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "link_two",
            "label": "Link Text"
            },
            {
              "type": "url",
              "id": "link_two_url",
              "label": "Link URL"
            },
            {
              "type": "text",
              "id": "link_three",
              "label": "Link Text"
              },
              {
                "type": "url",
                "id": "link_three_url",
                "label": "Link URL"
              },
              {
                "type": "text",
                "id": "link_four",
                "label": "Link Text"
                },
                {
                  "type": "url",
                  "id": "link_four_url",
                  "label": "Link URL"
                },
                {
                  "type": "text",
                  "id": "link_five",
                  "label": "Link Text"
                  },
                  {
                    "type": "url",
                    "id": "link_five_url",
                    "label": "Link URL"
                  }
        ]
      },
    ],
    "presets": [
      {
        "name": "Menu Section",
        "category": "Menu",
      }
    ]
  }
  
  
{% endschema %}
